*{



box-sizing:border-box ;
margin: 0px;
padding: 0px;


}

:root{
    --primary-text-color:#498478;
    --secondry-text-color:#577592;

    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;


 }

 .container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
 }
 .flex{
    display: flex;
    align-items: center;
 }
 


